{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "insertPragma": false,
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.kt",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
